{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}个人信息{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>{{ user.username }}</h1>
        {% if user.name %}
            <p style="font-size:20px">姓名:{% if user.name %}{{ user.name }}{% endif %}</p>
            {# {% if user.location %}
                <p style="font-size:20px">住址:<a
                        href="http://maps.baidu.com/?q={{ user.location }}">{{ user.location }}</a></p>
            {% endif %} #}
        {% endif %}
        {% if current_user.is_administrator() %}
            <p style="font-size:20px">邮箱:<a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.telephone %}<p style="font-size:20px">手机号:{{ user.telephone }}</p>{% endif %}
        {% if user.about_me %}<p style="font-size:20px">备注:{{ user.about_me }}</p>{% endif %}


        <p>
            {% if user == current_user %}
                <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">更改资料</a>
            {% endif %}
            {% if current_user.is_administrator() %}
                <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}">更改资料[管理员]</a>
            {% endif %}
        </p>
    </div>
{#     <h3>{{ user.username }}发布的文章</h3>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
        </div>
    {% endif %} #}
{% endblock %}